@import '@mns/ui/styles';
@source "../../../../packages/ui/**/*.{js,ts,jsx,tsx}";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: var(--font-instrument-sans), sans-serif;
  --font-mono: var(--font-chivo-mono), monospace;
  --font-cursive: var(--font-sue-ellen-francisco), cursive;
}

@utility bg-paper {
  @apply bg-[url(/paper-texture.jpg)] bg-no-repeat bg-center bg-cover;
}
